.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 50px;
  color: white;
  background-color: #1c84ad;
  text-align: left;
  padding-left: 10px;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
}

.App-dashboard {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.App-footer {
  height: 25px;
  color: white;
  background-color: #297a99;
  text-align: left;
  padding-left: 10px;
}

.sessions-table {
  margin: 5px;
}