.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 50px;
  color: white;
  background-color: #1c84ad;
  text-align: left;
  padding-left: 10px;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
}

.App-dashboard {
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.App-footer {
  height: 40px;
  color: white;
  background-color: #297a99;
  text-align: left;
  padding-left: 10px;
}

.dashboard-filters {
  margin: 5px;
  display: flex;
}

.dashboard-widget {
  box-shadow: 0.055rem 0.055rem 1.11rem rgba(20, 20, 20, 0.27);
}

.filter-label {
  margin-right: 0.5rem;
}

.filter-label2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-dropdown {
  width: 100%;
}

.filter-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.custom-timespan-chooser {
  display: inline-flex;
}

.sessions-table {
  margin: 5px;
}

.session-details {
  margin-left: 64px;
  margin-top: 16px;
  margin-right: 64px;
  margin-bottom: 16px;
}

.details-section-title {
  font-weight: bold;
}

.details-section-table {
  background-color: oldlace;
}

.table-column-shortnum {
  width: 50px;
  text-align: center;
  vertical-align: baseline;
}

.table-column-longnum {
  width: 100px;
  text-align: center;
  vertical-align: baseline;
}

.table-column-sha256 {
  width: 600px;
  text-align: center;
  vertical-align: baseline;
}

.table-column-time {
  width: 100px;
  text-align: center;
  vertical-align: baseline;
}

.table-column-username {
  text-align: center;
}

.table-column-password {
  text-align: center;
}

.table-column-success {
  width: 60px;
  text-align: center;
  vertical-align: baseline;
}

.footer-text {
  font-size: small;
  line-height: 40px;
  margin-right: 0.25em;
}

.footer-link {
  color: white;
  font-size: small;
}